.back-to-top {
  width: 100px;
  height: 100px;
  background-color: pink;
  color: pink;
  fill: pink;
  .fadeIn {
    display: block;
    background-color: pink;
    color: pink;
    fill: pink;
  }
}
